$border-radius: 3px;

$input-focus-border-width: 1px;
$control-border-width: 1px;
$button-border-width: 1px;
$button-hover-border-width: 1px;
$active-border-width: 2px !default;

$control-size: 20px;

// $break-palm-max-width: 51.3572em;
// $break-lap-and-up-min-width: 51.4286em;
$break-portable-max-width: 64em;
