// (C) Copyright 2016 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}heading.magneto {
  svg {
    vertical-align: bottom;
    margin-right: 10px;
  }
}

h1.#{$grommet-namespace}heading {
  font-size: 36px;
}
