// (C) Copyright 2016 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}collapsed-tags {
  background: red;
 .#{$grommet-namespace}collapsed-tags__remain {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00acd0;
 }
}
